<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsAppWebServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppWebServiceTest.Properties.Settings.newConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\nande\source\repos\WindowsFormsAppWebServiceTest\WindowsFormsAppWebServiceTest\storageData.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceKoosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceKoosSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44352/WebServiceKoos.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceKoosSoap"
                contract="ServiceReference1.WebServiceKoosSoap" name="WebServiceKoosSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <WindowsFormsAppWebServiceTest.Properties.Settings>
            <setting name="myConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\nande\source\repos\WindowsFormsAppWebServiceTest\WindowsFormsAppWebServiceTest\storageData.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </WindowsFormsAppWebServiceTest.Properties.Settings>
    </userSettings>
</configuration>